/* Global Styles */
:root {
  --text-color: #212121;
  --second-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-color: #f5f4fa;
  --second-background-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
section,
footer {
  width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hidden-header {
  display: none;
}

.button {
  border: none;
  background: none;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-blue {
  color: var(--accent-color);
}

.logo-black {
  color: var(--black-color);
}

.logo-white {
  color: var(--white-color);
}

.logo--header {
  margin-right: 93px;
}

/* Header Styles */

.header-border {
  border-bottom: 1px solid #ececec;
}

.header-item {
  display: block;
  padding: 32px 0;
}

.studio-link {
  margin-right: 50px;
}

.portfolio-link {
  margin-right: 50px;
}

.header--container {
  display: flex;
  align-items: center;
}

.navigation {
  display: inherit;
  align-items: center;
}

.header--navigation {
  display: inherit;
  align-items: center;
}

.header--contacts {
  display: inherit;
  align-items: center;
  margin-left: auto;
}

.menu-link {
  display: inline block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.e-mail {
  color: var(--second-text-color);
}

.mail {
  padding-right: 50px;
}

.tel {
  color: var(--second-text-color);
}

/* Hero Styles */

.hero {
  background: var(--second-background-color);
  padding: 200px 0;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto 40px auto;
  max-width: 696px;
}

.hero--button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 32px;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero--button:hover,
.hero--button:focus {
  background: #188ce8;
}

/* Features Styles */

.whatWeDo {
  padding-bottom: 94px;
}

.header-whatWeDo {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.whatWeDo--list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0 30px;
}

.whatWeDo--box {
}

.features {
  margin: 94px auto;
}

.features--list {
  gap: 0 30px;
  display: flex;
  justify-content: center;
}

.features--textbox {
}

.features--heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features--description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* Work Styles */

/* Team Styles */
.header-our-team {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  padding: 94px 0;
  background: var(--background-color);
  width: auto;
}

.team-card {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-content {
  padding: 30px 0;
}

.team--list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0 30px;
}

.team-img {
}

.team--name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team--position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* Footer Styles */

.footer {
  background: var(--second-background-color);
  padding: 60px 0 60px;
  width: auto;
}

.footer-container > ul > li > a {
  display: block;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-adress {
  color: var(--white-color);
}

.footer-mail {
  color: var(--footer-text-color);
}

.footer-tel {
  color: var(--footer-text-color);
}

.footer-logo {
}

.footer-container {
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
}

/* Portfolio Styles */

.portfolio-button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
  margin-bottom: 50px;
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px;
  background: var(--background-color);
  border-radius: 4px;
  border: none;
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button_current {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-content {
  padding: 94px 0;
}

.portfolio-card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-card {
}

.portfolio-item {
  color: var(--text-color);
}

.hover-accent:hover,
.hover-accent:focus,
.current {
  color: var(--accent-color);
}

.portfolio-img {
}

.project--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project--description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
